.bodyindex {
    background-color: limegreen;
    font-family: cursive;
}
p {
    font-size: 48;
}
.john {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: limegreen;
}
.bodyvideo {
    background-color: magenta;
    font-family: fantasy;
}
.john2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: magenta;
}